{% extends 'base_layout.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}

	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>About Bitfonix</h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">About us</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START ABOUT PROMO SECTION -->
    <div id="aboutpromo" class="section-padding mt-lg-5 mt-md-5 mt-0">
        <div class="auto-container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="blockquote-wrapper">
						<span class="blockquote-line"></span>
						<blockquote class="blockquote">
							<p><i class="icofont icofont-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit Inte posuere erat a ante sed do eiusd tempor incididunt ut et dolore magna aliqua. <i class="icofont icofont-quote-right"></i></p>
							<footer class="blockquote-footer">Jone Doe, <cite title="Source Title">Florida, USA</cite></footer>
						</blockquote>
						<div class="single-blog-hadmin">
							<div class="single-blog-hadmin-img">
								<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person2.jpg' %}" alt="">
							</div>
							<div class="single-blog-hadmin-info">
								<p>Hash Theme</p>
								<span>Web Development</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-8 col-md-8 col-12 pl-lg-5">
					<div class="image-style-2-wrapper">
						<div class="image-style-2-inner">
							<div class="image-one">
								<img src="{% static 'assets/img/bg/slide3.jpg' %}" class="img-fluid" alt="">
							</div>
							<div class="image-two">
								<div class="image-two-logo">
									<img class="img-fluid" src="{% static 'assets/img/clients/4.png' %}' %}" alt="">
								</div>
								<div class="image-two-des">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illodrut inventore veritatis et quasi architecto beatae vitae dicta sunt. </p>
								</div>
								<div class="image-two-rem text-right">
									<a href="#"><i class="icofont icofont-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>				
				</div>
				<!-- end col -->				
			</div>
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END ABOUT PROMO SECTION -->
	
	<!-- START CHOOSE US SECTION -->
    <section id="chhoseus" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Bitcoin Legality</h5>
						<h3>Why Choose <span>Bitfonix</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">	 
				<div class="col-lg-4 col-md-4 col-12 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-bill"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Easy Trading</h5>
							<p>Bitfonix offers a methodical approach to ensure profitability. Each trade is calculated through risk management techniques, technical analysis, and deep fundamental research. 
								You will be given signaling of point of entry for every single trade in CFD over the counter trading spot market.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-coins"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Trading Strategy</h5>
							<p>Lorem ipsum dolor sit ametelid consectetur adipiscing elit sedd eiusmod tempor.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-money"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Money Exchange</h5>
							<p>Lorem ipsum dolor sit ametelid consectetur adipiscing elit sedd eiusmod tempor.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-ui-travel"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Security Ensure</h5>
							<p>Lorem ipsum dolor sit ametelid consectetur adipiscing elit sedd eiusmod tempor.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-money-bag"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Cryptocurrency Trading</h5>
							<p>Lorem ipsum dolor sit ametelid consectetur adipiscing elit sedd eiusmod tempor.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-briefcase"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Bitcoin Legality</h5>
							<p>Lorem ipsum dolor sit ametelid consectetur adipiscing elit sedd eiusmod tempor.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->
			</div>		
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CHOOSE US SECTION -->	
	
	<!-- START COUNTER SECTION -->
    <section id="counter" class="section-padding overlay counter-section section-back-image-2" data-background="{% static 'assets/img/bg/counterbg2.jpg' %}">
        <div class="container"> 
			<div class="row text-center counter-wrapper">	 
				<div class="col-lg-8 mx-auto">	 
					<div class="row">	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">56</h3>
								<p>Bitcoin</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">95</h3>
								<p>Wallet</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">85</h3>
								<p>ATM</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">68</h3>
								<p>Client</p>
							</div>							
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PROMO SECTION -->
	
	<!-- START PRICETABLE SECTION -->
    <section id="pricetable" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Bitfonix conversation</h5>
						<h3>Trade Bitcoin <span>With Us</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="table-responsive">
						<table class="bitland-table bitland-table-2 table">
							<thead>
								<tr>
									<th scope="col">Cryptocurrency</th>
									<th scope="col">Price</th>
									<th scope="col">Supppy</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row"><i class="icofont icofont-cur-baht"></i> Bitcoin</th>
									<td>85.78$</td>
									<td>427BTC</td>
								</tr>
								<tr>
									<th scope="row"><i class="icofont icofont-cur-dollar"></i> Bitfonix</th>
									<td>97.45$</td>
									<td>492BTC</td>
								</tr>
								<tr>
									<th scope="row"><i class="fas fa-shekel-sign"></i> Degitalcash</th>
									<td>45.89$</td>
									<td>635BTC</td>
								</tr>
								<tr>
									<th scope="row"><i class="icofont icofont-cur-euro-true"></i> Ethereum</th>
									<td>78.35$</td>
									<td>395BTC</td>
								</tr>
								<tr>
									<th scope="row"><i class="icofont icofont-cur-dollar-plus"></i> Stellar</th>
									<td>45.89$</td>
									<td>829BTC</td>
								</tr>
								<tr>
									<th scope="row"><i class="icofont icofont-cur-renminbi-true"></i> Ripple</th>
									<td>76.28$</td>
									<td>623BTC</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="cal-convertor">
							<script>
								baseUrl = "https://widgets.cryptocompare.com/";
								var scripts = document.getElementsByTagName("script");
								var embedder = scripts[ scripts.length - 1 ];
								(function (){
								var appName = encodeURIComponent(window.location.hostname);
								if(appName==""){appName="local";}
								var s = document.createElement("script");
								s.type = "text/javascript";
								s.async = true;
								var theUrl = baseUrl+'serve/v1/coin/chart?fsym=BTC&tsym=USD';
								s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
								embedder.parentNode.appendChild(s);
								})();
							</script>
						</div>		
				</div>
				<!-- end col -->				
			</div>	
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PRICETABLE SECTION -->
	
	<!-- START TEAM SECTION -->
    <section id="team" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>quality experts</h5>
						<h3>Our Team <span>Member</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->	 
			<div class="row text-center">
				<div class="team-slider owl-carousel owl-theme">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="{% static 'assets/img/team/1.png' %}" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Jone Doe</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="{% static 'assets/img/team/2.png' %}" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Mark Henry</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="{% static 'assets/img/team/3.png' %}" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Bishen Ketty</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="{% static 'assets/img/team/4.png' %}" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Kwasan Rowy</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="{% static 'assets/img/team/5.png' %}" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Jone Doe</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->	
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TEAM SECTION -->
	
	<!-- START CALLTOACTION SECTION -->
	<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="calltoaction-two-wrap mb-4">
						<h4 class="text-uppercase">Need More Service?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
					</div>
					<a href="#" class=" wow fadeInDown btn-style btn-border btn-border-3">Contact Us <i class="icofont icofont-hand-right"></i></a>
				</div>
				<!-- end col -->
				<!-- end col -->
			</div>
			<!-- end row-->
		</div>
	</section>
    <!-- END CALLTOACTION SECTION -->
	
	<!-- START TESTIMONIAL SECTION -->
    <section id="testimonial" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>customer Feedback</h5>
						<h3>What <span>Clinet Say</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="testimonial-wrapper bg-gray-2 section-padding">
				<div class="row">
					<div class="col-lg-8 mx-lg-auto mx-md-auto mx-0 text-center">
						<div class="testimonial-slider owl-carousel owl-theme">
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person1.jpg' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illodrut inventore veritatis et quasi architecto beatae vitae dicta sunt. </p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Jone Doe</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person2.jpg' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illodrut inventore veritatis et quasi architecto beatae vitae dicta sunt. </p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Hash Theme</p>
								</div>
							</div>
							<!-- end single testimonial -->
						</div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TESTIMONIAL SECTION -->
	
	<!-- START CLIENT SECTION -->
    <div id="client" class="client-section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="client-slider owl-carousel owl-theme">
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/1.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/5.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/3.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/2.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/4.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/6.png' %}" alt=""></a>
                        </div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END CLIENT SECTION -->

{% endblock %}