{% extends 'base_layout.html' %}
{% load static %}
{% block title %} Bitcoin and Ethereum {% endblock %}
{% block content %}

	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Bitcoin & Ethereum</h2>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">Bitcoin & Ethereum</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START SERVICE SECTION -->
    <section id="service" class="section-padding">
        <div class="container">	 
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-5 pr-lg-5 pr-md-5 pr-sm-2 pr-2">
					<div class="widget cat_wid mb-5">
						<h3 class="widget-title">Service List</h3>
						<!-- end widget tittle-->
						<div class="widget-inner mt-5">
							<div class="category-menu">
								<ul>
									<li><a href="#" class="active">Bitcoin & Ethereum <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'crypto_trading' %}">Cryptocurrency Trading <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'bitcoin_trading' %}">Bitcoin Trading <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'coin_buy' %}">Coin Buy & Sell <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'security_ensure' %}">Account Security <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'bitcoin_legality' %}">Bitcoin Legality <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="#">Trading Strategy <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="#">Money Exchange <i class="float-right icofont icofont-thin-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-8 col-md-8 col-12">
					<div class="image-tab">
						<div class="row">
							 <div class="col-12 pr-0 mb-2">
								<div id="tabsJustifiedContent" class="tab-content">
									<div id="one" class="tab-pane animated fadeInUp active show">
										<a href="{% static 'assets/img/service/1.jpg' %}" data-title="IMAGE TITLE 1" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt=""></a>	
									</div>
									<div id="two" class="tab-pane animated fadeInUp">
										<a href="{% static 'assets/img/service/1.jpg' %}" data-title="IMAGE TITLE 2" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt=""></a>
									</div>
									<div id="three" class="tab-pane animated fadeInUp">
										<a href="{% static 'assets/img/service/1.jpg' %}" data-title="IMAGE TITLE 3" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt=""></a>
									</div>
								</div>
							</div>
							 <div class="col-12">
								 <ul id="tabsJustified" class="nav nav-tabs text-center">
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#one" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/4.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#two" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/5.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#three" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/6.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#one" data-toggle="tab" class="nav-link active">
											 <img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#two" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#three" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/3.jpg' %}" alt="">
										</a>
									</li>
								 </ul>
							 </div>
						</div>
					</div>
					<!-- end image tab -->
					<div class="row mt-4">
						<div class="col-12 ser-page-into">
							<h4>Bitcoin and Ethereum</h4>
							<p>If Bitcoin seeks to serve as a digital gold, Ethereum has taken a different approach, generalizing so its users can create any number of custom assets and programs governing their operation.</p>
						</div>
						<!-- end col -->
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-4 pl-4 ser-page-into">
								<ul>
									<li><i class="icofont icofont-ui-press"></i> <strong>Ethereum Blockchain -</strong> Today, Ethereum uses proof-of-work mining (in which computers burn energy to solve puzzles needed to create blocks) to power its blockchain.</li>
									<li><i class="icofont icofont-ui-press"></i> <strong>Proof-of-Stake -</strong> With the transition to Ethereum 2.0, Ethereum plans to alter its core operating system, migrating to a system called proof-of-stake (PoS). </li>
									<li><i class="icofont icofont-ui-press"></i> <strong>A finite supply -</strong> According to the software rules, only 21 million bitcoins can be produced, a limit that gives bitcoins value.</li>
									<li><i class="icofont icofont-ui-press"></i> <strong>Portability -</strong> With BTC, you can carry around all your wealth on a flash drive, memorized in your brain or transfer it instantly via the internet.</li>
								</ul>
							</div>
							<!-- end col -->
							<div class="col-lg-6 col-md-6 col-12">
								<div class="cal-convertor">
									<script>
										baseUrl = "https://widgets.cryptocompare.com/";
										var scripts = document.getElementsByTagName("script");
										var embedder = scripts[ scripts.length - 1 ];
										(function (){
										var appName = encodeURIComponent(window.location.hostname);
										if(appName==""){appName="local";}
										var s = document.createElement("script");
										s.type = "text/javascript";
										s.async = true;
										var theUrl = baseUrl+'serve/v1/coin/chart?fsym=BTC&tsym=USD';
										s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
										embedder.parentNode.appendChild(s);
										})();
									</script>
								</div>						
							</div>
							<!-- end col -->
						</div>
					</div>
					<!-- end row -->
					<div class="steam-details-tab">
						<div class="row">
							<div class="col-12">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" href="#" data-target="#srone" data-toggle="tab">Description</a></li>
									<li class="nav-item"><a class="nav-link" href="#" data-target="#srtwo" data-toggle="tab">Experinece</a></li>
									<li class="nav-item"><a class="nav-link" href="#" data-target="#srthree" data-toggle="tab">Values</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane animated fadeInRight active show" id="srone">
										<div class="row">
											<div class="col-lg-5 col-md-5 col-12 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
												<p>Among the first to embrace Ethereum were major banks and institutions, who took advantage of its open-source code to create proof-of-concepts and R&D initiatives in 2015 and 2016.</p>										
											</div>
											<div class="col-lg-7 col-md-7 col-12 mt-4">
												<img class="img-fluid" src="{% static 'assets/img/blog/2.jpg' %}" alt="">
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInRight" id="srtwo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-12 mt-4 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
												<img class="img-fluid" src="{% static 'assets/img/blog/1.jpg' %}" alt="">
											</div>
											<div class="col-lg-5 col-md-5 col-12">
												<p>Like paper cash or gold, depending on how you received your BTC it will have varying degrees of fungibility. BTC that was involved in a crime, for example, may not be accepted by exchanges or merchants. (This remains an active area of research for Bitcoin developers.)</p>										
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInRight" id="srthree">
										<p class="mb-3">For something to store value, people need to recognize and accept that it’s worth something.</p>
										<ul>
											<li><i class="icofont icofont-ui-press"></i> <strong>Acceptability -</strong> There are currently thousands of individuals and vendors accepting Bitcoin payments.</li>
											<li><i class="icofont icofont-ui-press"></i> <strong>Buy and sell -</strong> You can also buy and sell BTC for other cryptocurrencies alongside more traditional currencies at exchanges like Fonixcoin.</li>
										</ul>
									 </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END SERVICE SECTION -->

{% endblock %}