{% extends 'base_layout.html' %}
{% load i18n %}
{% block nav-contact %}
active
{% endblock %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>{% trans 'Get In Touch' %}</h2>
							<p>{% trans 'Send us a message' %}</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
							<li class="breadcrumb-item active">{% trans 'Contact Us' %}</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>{% trans 'response with in minute' %}</h5>
						<h3>{% trans 'Contact' %} <span>TraderMines</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="far fa-envelope-open"></i>
						</div>
						<div class="single-address-dec">
							<h4>{% trans 'Write a mail' %}</h4>
							<p>{% trans 'Email' %}: support@TraderMines.com</p>
						</div>
						<div class="single-address-link">
							<a href="#">{% trans 'quick Send' %}</a>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="icofont icofont-phone-circle"></i>
						</div>
						<div class="single-address-dec">
							<h4>{% trans 'Give a call' %}</h4>
							<p>{% trans 'Phone' %}:+44-748-0071-022 </p>
							<p>{% trans 'Phone' %}: +1-470-673-1911</p>
						</div>
						<div class="single-address-link">
							<a href="#">quick call</a>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="far fa-address-card"></i>
						</div>
						<div class="single-address-dec">
							<h4>{% trans 'Visit our location' %}</h4>
							<p>{% trans 'Address' %}: 10004, Battery Park, New York, USA </p>
						</div>
						<div class="single-address-link">
							<a href="#">{% trans 'find Direction' %}</a>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="fab fa-rocketchat"></i>
						</div>
						<div class="single-address-dec">
							<h4>{% trans "Lets's have a chat" %}</h4>
							<p>{% trans 'Telephone' %}: +44-748-0071-022</p>
	
						</div>
						<div class="single-address-link">
							<a href="#">{% trans 'click here' %}</a>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->

			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>{% trans 'Send Us Message' %}</h3>
					</div>
				</div>
				<div class="col-lg-7 mx-auto">
					<div class="contact-form-wrapper">
						<div class="contact-form">
							<form method="post">
								{% csrf_token %}
								{{ form|crispy }}
								<button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
							  </form>							
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
	
	<!-- GOOGLE MAP -->
	<div class="gmap_canvas">
		<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Bardstown%20Road%2C%20Louisville&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
	</div>
	<!-- END GOOGLE MAP -->

{% endblock %}