{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}
{% block title %} Cryptocurrency trading {% endblock %}
{% block content %}

	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>{% trans 'Cryptocurrency Trading' %}</h2>
							<p>{% trans 'Trade your coin with ease.' %}</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
							<li class="breadcrumb-item active">{% trans 'Cryptocurrency Trading' %}</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START SERVICE SECTION -->
    <section id="service" class="section-padding">
        <div class="container">	 
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-5 pr-lg-5 pr-md-5 pr-sm-2 pr-2">
					<div class="widget cat_wid mb-5">
						<h3 class="widget-title">{% trans 'Service List' %}</h3>
						<!-- end widget tittle-->
						<div class="widget-inner mt-5">
							<div class="category-menu">
								<ul>
									<li><a href="{% url 'bitcoin_ethereum' %}">{% trans 'Bitcoin & Ethereum' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="#" class="active">{% trans 'Cryptocurrency Trading' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'bitcoin_trading' %}">{% trans 'Bitcoin Trading' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'coin_buy' %}">{% trans 'Coin Buy & Sell' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'security_ensure' %}">{% trans 'Account Security' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="{% url 'bitcoin_legality' %}">{% trans 'Bitcoin Legality' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="#">{% trans 'Trading Strategy' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
									<li><a href="#">{% trans 'Money Exchange' %} <i class="float-right icofont icofont-thin-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end widget -->
				</div>
				<!-- end col -->
				<div class="col-lg-8 col-md-8 col-12">
					<div class="image-tab">
						<div class="row">
							 <div class="col-12 pr-0 mb-2">
								<div id="tabsJustifiedContent" class="tab-content">
									<div id="one" class="tab-pane animated fadeInUp active show">
										<a href="{% static 'assets/img/service/2.jpg' %}" data-title="IMAGE TITLE 1" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt=""></a>	
									</div>
									<div id="two" class="tab-pane animated fadeInUp">
										<a href="{% static 'assets/img/service/2.jpg' %}" data-title="IMAGE TITLE 2" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt=""></a>
									</div>
									<div id="three" class="tab-pane animated fadeInUp">
										<a href="{% static 'assets/img/service/2.jpg' %}" data-title="IMAGE TITLE 3" class="venobox info vbox-item" data-gall="galma"><img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt=""></a>
									</div>
								</div>
							</div>
							 <div class="col-12">
								 <ul id="tabsJustified" class="nav nav-tabs text-center">
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#one" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/4.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#two" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/5.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#three" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/6.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#one" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#two" data-toggle="tab" class="nav-link active">
											 <img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt="">
										</a>
									</li>
									<li class="col-lg-2 col-md-4 col-4 nav-item">
										<a href="#" data-target="#three" data-toggle="tab" class="nav-link">
											 <img class="img-fluid" src="{% static 'assets/img/service/3.jpg' %}" alt="">
										</a>
									</li>
								 </ul>
							 </div>
						</div>
					</div>
					<!-- end image tab -->
					<div class="row mt-4">
						<div class="col-12 ser-page-into">
							<h4>{% trans 'Service Overview' %}</h4>
							<p>{% trans 'A cryptocurrency exchange is a service for changing digital currencies, such as Bitcoin, Ethereum, and more, to fiat (paper) currencies or for other digital currencies. At TraderMines, you can exchange your fiat currency, such as dollars or Euro, for several cryptocurrencies. You can also exchange your Bitcoin for fiat.' %}</p>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
					<div class="steam-details-tab">
						<div class="row">
							<div class="col-12">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" href="#" data-target="#srone" data-toggle="tab">{% trans 'Description' %}</a></li>
									<li class="nav-item"><a class="nav-link" href="#" data-target="#srtwo" data-toggle="tab">{% trans 'Experience' %}</a></li>
									<li class="nav-item"><a class="nav-link" href="#" data-target="#srthree" data-toggle="tab">{% trans 'Values' %}</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane animated fadeInRight active show" id="srone">
										<div class="row">
											<div class="col-lg-5 col-md-5 col-12 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
												<p>{% trans 'Cryptocurrency is a general name referring to all encrypted decentralized digital currencies such as Bitcoin, Litecoin, Ethereum and Ethereum Classic. They use cryptography to create coins and secure transactions. Typically, cryptocurrencies are open source and the transactions are based on blockchain technology.' %}</p>										
											</div>
											<div class="col-lg-7 col-md-7 col-12 mt-4">
												<img class="img-fluid" src="{% static 'assets/img/blog/2.jpg' %}" alt="">
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInRight" id="srtwo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-12 mt-4 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
												<img class="img-fluid" src="{% static 'assets/img/blog/1.jpg' %}" alt="">
											</div>
											<div class="col-lg-5 col-md-5 col-12">
												<p>{% trans 'Cryptocurrencies are traded via wallets, which are used to store, send, and receive digital currency. Most coins have an official wallet or a few officially recommended third-party wallets. You cannot invest in any cryptocurrency without using a dedicated cryptocurrency wallet.' %}</p>										
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInRight" id="srthree">
										<p class="mb-3">{% trans "With TraderMines, you can skip complex processes like mining and just buy and trade cryptocurrency securely with your credit or debit card. Let’s get started!" %}</p>
									 </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END SERVICE SECTION -->

{% endblock %}