{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
    <div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="single-page-title">
                        <h2>Freequently Asked Question</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
    <div class="single-page-title-area-bottom">
        <div class="auto-container">
            <div class="row">
                <div class="col-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">FAQ</li>
                    </ol>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</section>
<!-- END PAGE BANNER AND BREADCRUMBS -->

<!-- START FAQ SECTION -->
<section id="faqpage" class="section-padding">
    <div class="container">	 
        <div class="row mb-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5 faq-page-into">
                <h6>Sed ut perspiciatis unde omnis</h6>
                <h3>Bitcoin Qualirty<span> Support</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                <ul>
                    <li><i class="icofont icofont-ui-press"></i> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</li>
                    <li><i class="icofont icofont-ui-press"></i> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</li>
                </ul>
                <a href="#" class="faq-page-into-btn mt-4">Learn More <i class="icofont icofont-caret-right"></i></a>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="faq-page-into-features mb-5">
                    <div class="faq-page-into-features-icon">
                        <i class="icofont icofont-brand-designfloat"></i>
                    </div>
                    <div class="faq-page-into-features-text">
                        <h5>Getting Support</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                        <a href="#">Read More<i class="icofont icofont-caret-right"></i></a>
                    </div>
                </div>
                <div class="faq-page-into-features">
                    <div class="faq-page-into-features-icon">
                        <i class="icofont icofont-brand-delicious"></i>
                    </div>
                    <div class="faq-page-into-features-text">
                        <h5>Getting Started</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                        <a href="#">Read More<i class="icofont icofont-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col -->					
        </div>
        <!-- end row -->
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h5>your answer's</h5>
                    <h3>Frequently <span>Question</span></h3>
                </div>
            </div>
        </div>
        <!-- end section title -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                <!--Accordion Box-->
                <ul class="accordion-box">
                    <li class="accordion block">
                        <div class="acc-btn active">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How to buy & sell bitcoin?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <ul>
                                        <li><i class="icofont icofont-ui-press"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</li>
                                        <li><i class="icofont icofont-ui-press"></i> Lorem ipsum dolor sit amet, consectetur adipiscing adipisc.</li>
                                        <li><i class="icofont icofont-ui-press"></i> Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                                    </ul>
                                </div>
                            </div>
                    </li>
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i transfer bitcoin?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What about the trading with FonixCoin?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>what about the investment planing?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i get the price idea?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i contact with you?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--End Accordion Box-->	
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-12">
                <!--Accordion Box-->
                <ul class="accordion-box accordion-box2">
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How to buy & sell bitcoin?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i transfer bitcoin?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn active">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What about the trading with FonixCoin?</div>
                        <div class="acc-content current">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>what about the investment planing?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i get the price idea?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i contact with you?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--End Accordion Box-->
            </div>
            <!-- end col -->				
        </div>
        <hr>	 
        <div class="row mt-5">
            <div class="col-lg-8 col-md-8 col-12 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
                <div class="row">	
                    <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                        <div class="single-award">
                            <div class="single-award-icon custom-color-1">
                                <i class="fab fa-facebook-square"></i>
                            </div>
                            <div class="single-award-text">
                                <p>1200+</p>
                                <h5>Facebook</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->	
                    <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                        <div class="single-award">
                            <div class="single-award-icon custom-color-2">
                                <i class="fab fa-twitter-square"></i>
                            </div>
                            <div class="single-award-text">
                                <p>1400+</p>
                                <h5>Twitter</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->	
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-award">
                            <div class="single-award-icon custom-color-3">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="single-award-text">
                                <p>2000+</p>
                                <h5>Youtube</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- END ROW-->
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4 col-12 text-center">
                <div class="promo-box-style-two">
                    <h4>Still no luck?</h4>
                    <p>Lorem ipsum dolor sit amet sed do eiusm<br> consectetur adipiscing elit.</p>
                    <a href="#">Submit Ticket</a>
                </div>
            </div>
            <!-- end col -->					
        </div>
        <!-- end row -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END FAQ SECTION -->

<!-- START CLIENT SECTION -->
<div id="client" class="client-section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="client-slider owl-carousel owl-theme">
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/1.png' %}" alt=""></a>
                    </div>
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/5.png' %}" alt=""></a>
                    </div>
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/3.png' %}" alt=""></a>
                    </div>
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/2.png' %}" alt=""></a>
                    </div>
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/4.png' %}" alt=""></a>
                    </div>
                    <div class="single-client">
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/6.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- END CONTAINER -->
</div>
<!-- END CLIENT SECTION -->


{% endblock %}