{% extends 'base_layout.html' %}
{% load i18n %}
{% block nav-home %}
active
{% endblock %}
{% load static %}
{% block title %}Bitcoin{% endblock %}
{% block content %}

    <!-- START SLIDER SECTION -->
	<section class="slider-section">
		<div class="home-slides owl-carousel owl-theme ">
			<div class="home-single-slide" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>{% trans "Secure & easy way to" %} <br> {% trans "buy & sell bitcoin" %}</h2>
									<p class="text-capitalize">{% trans "We put the power in your hands, to buy, sell and trade digital currency. We are FonixCoin, consistently rated the best and most secure cryptocurrency exchange." %}</p>
									<div class="home-single-slide-button">
										<a href="#" class="btn-style btn-filled">{% trans 'Learn More' %}</a>
										<a href="{% url 'my-auth:create' %}" class="btn-style btn-border">{% trans "Get started" %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="{% static 'assets/img/bg/slide5.jpg' %}">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>{% trans 'bitcoin & ethereum transfer you can trust' %} </h2>
									<p class="text-capitalize">{% trans "We give you the power to hit the ground running, no matter your experience level. Make easy deposits and withdrawals, measure your portfolio's performance and keep track of all of your digital assets in one convenient place." %}</p>
									<div class="home-single-slide-button">
										<a href="#" class="btn-style btn-border">{% trans 'Get quote' %}</a>
										<a href="#" class="btn-style btn-filled">{% trans 'Read More' %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="{% static 'assets/img/bg/slide6.jpg' %}">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>{% trans 'Invest & double your desire bitcoin' %}</h2>
									<p class="text-capitalize">{% trans "New to cryptocurrency? No problem. Digital assets may seem confusing, but we're here to help. While the concept is simple, we know that aspects of cryptocurrency can seem a bit complex." %}</p>
									<div class="home-single-slide-button">
										<a href="{% url 'contact' %}" class="btn-style btn-filled">{% trans 'Contact Us' %}</a>
										<a href="#" class="btn-style btn-border">{% trans 'View More' %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
		</div>
	</section>
	<!-- END SLIDER SECTION  -->
	
    <!-- START ABOUT SECTION -->
    <section id="about" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>{% trans 'why buy & sell' %}</h5>
						<h3>FonixCoin <span>{% trans 'Features' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'bitcoin_trading' %}"><img src="{% static 'assets/img/bg/bg1.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-btc"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Bitcoin Trading' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans 'Bifonix has consistently taken measures to makes online trading and investing accessible' %} </p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'coin_buy' %}"><img src="{% static 'assets/img/bg/bg4.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Coin Buy & Sell' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans 'With FonixCoin, you can easily buy Bitcoin with cash' %}.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'bitcoin_ethereum' %}"><img src="{% static 'assets/img/bg/bg5.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-euro-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Bitcoin & Ethereum' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans 'Bitcoin and Ethereum is much more than just a digital currency.' %}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'security_ensure' %}"><img src="{% static 'assets/img/bg/bg6.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-gg"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Account Security' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans 'We take every necessary precaution to keep you safe and secure.' %}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'crypto_trading' %}"><img src="{% static 'assets/img/bg/bg3.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-ruble-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Cryptocurrency Trading' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans 'Bank on FonixCoin’s experience as a global fintech leader.' %}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="{% url 'bitcoin_legality' %}"><img src="{% static 'assets/img/bg/bg1.jpg' %}" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>{% trans 'Bitcoin Legality' %}</h5>
							</div>
							<div class="single-about-dec">
								<p>{% trans "Access crypto assets exchange platform technology under the registered trademark" %} "FonixCoin"</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END ABOUT SECTION -->
	
	<!-- START PROMO SECTION -->
    <section id="promo" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="row">
						<div class="col-12 text-left">
							<div class="section-title-2">
								<h3>{% trans 'Frequently Asked' %} <span>{% trans 'questions' %}</span></h3>
							</div>
						</div>
					</div>
					<!-- end section title -->
					
                    <!--Accordion Box-->
                    <ul class="accordion-box">
						<li class="accordion block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What is Bitcoin?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p>{% trans 'Bitcoin is a consensus network that enables a new payment system using digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. From a user perspective, bitcoin is pretty much like cash for the Internet.' %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>{% trans 'What is a Cryptocurrency Exchange?' %}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{% trans 'A cryptocurrency exchange is a service for changing digital currencies, such as Bitcoin, Ethereum, and more, to fiat (paper) currencies or for other digital currencies. At FonixCoin, you can exchange your fiat currency, such as dollars or Euro, for several cryptocurrencies. You can also exchange your Bitcoin for fiat.' %}</p>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>{% trans 'Why must I provide my personal details?' %}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{% trans 'Before creating your first order, we need to know a bit about you. As a financial service, FonixCoin is committed to the highest security and privacy standards. This also helps us keep your account safe, fight fraud, and more. The process is called verification and is something everyone must go through before buying cryptocurrency anywhere. After submitting your details for verification, we’ll then quickly go over it and make sure everything looks good. This usually happens within the hour.' %}</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>{% trans 'How long does it take for FonixCoin to send my bitcoins once I’ve paid?' %}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{% trans 'FonixCoin sends the coins immediately after both your payment and wallet address have been confirmed.' %}</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>{% trans 'Where can I get a Bitcoin/Ethereum wallet?' %}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{% trans 'FonixCoin is not a wallet provider - we simply send your coins to the wallet of your choice.' %}</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>{% trans 'What methods of payment does FonixCoin offer?' %}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{% trans 'At FonixCoin you can currently buy bitcoin and other cryptocurrencies with bank wire transfer.' %}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--End Accordion Box-->	
				</div>
				<!-- end col -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="row">
						<div class="col-12 text-left">
							<div class="section-title-2">
								<h3>{% trans 'About' %} <span>{% trans 'Us' %}</span></h3>
							</div>
						</div>
					</div>
					<!-- end section title -->
					<div class="image-style-1 mb-4">
						<div class="image-style-wrapper">
							<div class="image-one"></div>
							<div class="image-two">
								<img src="{% static 'assets/img/bg/promobg1.jpg' %}" class="img-fluid" alt="">
							</div>
						</div>
					</div>
					<div class="promo-content">
						<h4>{% trans 'Who we are?' %}</h4>
						<p>FonixCoin, {% trans 'founded in 2013 by experienced system architects and technology experts, is one of the oldest and fastest growing crypto exchanges in existence. With an unparalleled track record of reliability.' %}</p>
						<a href="{% url 'about-us' %}" class="btn-style btn-filled mt-3">{% trans 'Read More' %} <i class="icofont icofont-caret-right"></i></a>
						<div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="{% static 'assets/img/bg/signature.png' %}" class="img-fluid" alt=""></div>
					</div>	
				</div>
				<!-- end col -->				
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PROMO SECTION -->
	
	<!-- START CHOOSE US SECTION -->
    <section id="chhoseus" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h3>{% trans 'Why Choose' %} <span>FonixCoin</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-8 col-md-8 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="row">	 
						<div class="col-lg-6 col-md-6 col-12 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-bill"></i>
								</div>
								<div class="single-wcus-text">
									<h5>{% trans 'Easy Trading' %}</h5>
									<p>{% trans 'Our terminal is built on the best technology and lets you trade effortlessly any of the FonixCoin currency pair.' %}</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-coins"></i>
								</div>
								<div class="single-wcus-text">
									<h5>{% trans 'Trading Strategy' %}</h5>
									<p>{% trans 'Connect with other traders, discuss trading strategies, and also copy their trading portfolio performance.' %}</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-money"></i>
								</div>
								<div class="single-wcus-text">
									<h5>{% trans 'Money Exchange' %}</h5>
									<p>{% trans 'FonixCoin offers order books with top tier liquidity, allowing users to easily exchange Bitcoin, and many other digital assets with minimal slippage' %}</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-ui-travel"></i>
								</div>
								<div class="single-wcus-text">
									<h5>{% trans 'Security Ensured' %}</h5>
									<p>{% trans 'Security of user information and funds is our first priority.' %}</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->
					</div>
				</div>
				<!-- end col -->	 
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wcus-promo">
						<div class="single-wcus-promo-inner">
							<h3>{% trans 'We are ready to fly with you.' %}</h3>
							<p>{% trans 'Our vision is to increase the freedom of money globally. We believe that by spreading this freedom, we can significantly improve lives around the world.' %}</p>
							<a href="{% url 'fly' %}" class="btn-style btn-border btn-border-2">{% trans 'Read More' %}</a>
						</div>
					</div>
				</div>
				<!-- end col -->	
			</div>		
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CHOOSE US SECTION -->		
	
	<!-- START SERVICE SECTION -->
    <section id="service" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>{% trans 'what we do' %}</h5>
						<h3>FonixCoin <span>{% trans 'Services' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->	 
			<div class="services-slider owl-carousel owl-theme">
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="{% static 'assets/img/service/2.jpg' %}" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fab fa-gg"></i>
							</div>
							<div class="single-service-text">
								<h5>{% trans 'Bitcoin Trading' %}</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>{% trans 'FonixCoin has consistently taken measures to ensure its platform makes online trading and investing accessible to anyone.' %}</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="{% static 'assets/img/service/3.jpg' %}" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							<div class="single-service-text">
								<h5>{% trans 'Coin Buy & Sell' %}</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>{% trans 'With FonixCoin, you can easily buy Bitcoin with cash, as well as other cryptocurrencies we offer on the platform.' %}</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="{% static 'assets/img/service/1.jpg' %}" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fab fa-btc"></i>
							</div>
							<div class="single-service-text">
								<h5>{% trans 'Bitcoin & Ethereum' %}</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>{% trans 'Bitcoin and Ethereum is an open source network, much more than just a digital currency. At FonixCoin, we not only trade your assets, we secure it as well.' %}</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="{% static 'assets/img/service/4.jpg' %}" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-service-text">
								<h5>{% trans 'Cryptocurrency Trading' %}</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>{% trans 'Bank on FonixCoin’s experience as a global fintech leader since the early days of Blockchain to provide you with a complete crypto trading solution.' %}</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
			</div>
			<div class="row mt-5">
				<div class="col-12 text-center">
					<div class="serviceall-btn wow fadeInDown">
						<a href="{% url 'services' %}">{% trans 'Check All Services' %} <i class="icofont icofont-long-arrow-right"></i></a>
					</div>
				</div>
			</div>	
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END SERVICE SECTION -->
	
	<!-- START PRICETABLE SECTION -->
    <section id="pricetable" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>{% trans 'FonixCoin conversation' %}</h5>
						<h3>{% trans 'Trade Bitcoin' %} <span>{% trans 'With Us' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-7 col-md-7 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="table-responsive">
						<!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container">
							<div class="tradingview-widget-container__widget"></div>
							<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
							<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
							{
							"width": "600",
							"height": "500",
							"defaultColumn": "overview",
							"screener_type": "crypto_mkt",
							"displayCurrency": "USD",
							"colorTheme": "light",
							"locale": "en"
						}
							</script>
						</div>
						  <!-- TradingView Widget END -->
						  
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-5 col-md-5 col-12">
					<div id="chartContainer"></div>	
				</div>
				<!-- end col -->				
			</div>	
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PRICETABLE SECTION -->
	
	<!-- START HOW WORK SECTION -->
    <section id="hworks" class="section-padding bg-gray section-back-image overlay" data-background="{% static 'assets/img/bg/processbg.jpg' %}">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5 class="text-white">{% trans 'How we work' %}</h5>
						<h3 class="text-white">{% trans 'Work' %} <span>{% trans 'Process' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-futbol"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>{% trans 'Trading Strategy' %}</h5>
							<p>{% trans 'FonixCoin implements reliable strategies by providing our users with state-of-the-art trading tools, innovative technology and unparalleled levels of customer service.' %}</p>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-users"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>{% trans 'Group Planing' %}</h5>
							<p>{% trans 'Never trade crypto alone. FonixCoin is much more than just a place to trade. Use award-winning social trading features to connect with over 10 million users worldwide.' %}</p>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-handshake"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>{% trans 'Final Success' %}</h5>
							<p>{% trans 'We believe cryptocurrency is the future of money and that Building a robust and accessible cryptoeconomy will create a more equitable financial system around the world.' %}</p>
						</div>
					</div>
				</div>
				<!-- end col -->	
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END HOW WORK SECTION -->
	
	<!-- START TESTIMONIAL SECTION -->
    <section id="testimonial" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>{% trans 'our achievements' %}</h5>
						<h3>{% trans 'Client' %} <span>{% trans 'Feedback' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="testimonial-wrapper bg-gray-2 section-padding">
				<div class="row">
					<div class="col-lg-12 mx-lg-auto mx-md-auto mx-0 text-center">
						<div class="testimonial-slider owl-carousel owl-theme">
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/clients/13.jpg' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>{% trans "It's been a pleasure trading with FonixCoin. Great platform for starting traders. Great selsection and transparent fee system." %}</p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Yvelmkens fjord</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/clients/12.jpg' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>{% trans 'So easy and fun as i ahvent had to do much. FonixCoin has been making my trading experience enjoyable and secure.' %}</p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Mcleroy rhithers</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/clients/11.jpg' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>{% trans "FonixCoin is a fantastic trading platform, both from an ease of use and technical perspective. I'm very satisfied with the service they FonixCoin provide. keep it up." %}</p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Aleixy shalom</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/clients/test.png' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>{% trans 'FonixCoin has made cryptocurrency trading so easy that i rarely have to do anything complex, i just watch and see my asset grow. Quite remarkable i must say.' %}</p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Brandon Eduardo</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/clients/test2.png' %}" alt="">
								</div>
								<div class="single-testimonial-content">
									<p>{% trans 'Doing business on this platform has been a turning point for my life and my career in general. This is quite amazing.' %}</p>
								</div>
								<div class="single-testimonial-meta">
									<p>- Emmilly Hanson</p>
								</div>
							</div>
							<!-- end single testimonial -->
						</div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TESTIMONIAL SECTION -->

	<!-- START BLOG SECTION -->
    <section id="blog" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-left">
					<div class="section-title mb-4">
						<h5>{% trans 'get updated' %}</h5>
						<h3>{% trans 'Blog' %} <span>{% trans 'Post' %}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-8 col-md-8 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<p>{% trans 'Stories from the easiest and most trusted place to' %} <strong>{% trans 'buy, sell, and use cryptocurrencies' %} </strong></p>
				</div>
				<div class="col-lg-4 col-md-4 col-12 text-left text-lg-right text-md-right">
					<a href="#" class="btn-style btn-filled btn-filled-2">{% trans 'More News' %} <i class="icofont icofont-caret-right"></i></a>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-blogh">
						<div class="single-blog-himage">
							<img class="img-fluid" src="{% static 'assets/img/blog/1.jpg' %}" alt="">
						</div>
						<div class="single-blog-hdec">
							<a href="#"><h5>Fonixcoin Introduces No-Fee USD Deposits with Signature and MVB Bank</h5></a>
							<span class="post-date"><i class="icofont icofont-calendar"></i> 03 Sep 2020</span>
							<span class="post-comment"><i class="fa fa-comment"></i> 3 comments</span>
							<p>
								Funding your Fonixcoin account is now easier, faster and more cost-effective with our newest integration with Signature Bank.
								<a href="#">[...]</a>
							</p>
							<div class="single-blog-hadmin">
								<div class="single-blog-hadmin-img">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person1.jpg' %}" alt="">
								</div>
								<div class="single-blog-hadmin-info">
									<p>By: <span>Jane Swaniger</span>for <span>TRADING</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end single blog -->
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-blogh">
						<div class="single-blog-himage">
							<img class="img-fluid" src="{% static 'assets/img/blog/2.jpg' %}" alt="">
						</div>
						<div class="single-blog-hdec">
							<a href="#"><h5>C-C-C-COMBO BREAKER:Fonixcoin Releases July 2020 Bitcoin Volatility Report</h5></a>
							<span class="post-date"><i class="icofont icofont-calendar"></i> 18 July 2020</span>
							<span class="post-comment"><i class="fa fa-comment"></i> 18 comments</span>
							<p>
								VIP clients are the first to receive Fonixcoin Intelligence reports. If you’d like early access to our latest research, sign up to trade with us today.
								<a href="#">[...]</a>
							</p>
							<div class="single-blog-hadmin">
								<div class="single-blog-hadmin-img">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person2.jpg' %}" alt="">
								</div>
								<div class="single-blog-hadmin-info">
									<p>By: <span>Greg Alan</span>for <span>TRADING</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end single blog -->
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-blogh">
						<div class="single-blog-himage">
							<img class="img-fluid" src="{% static 'assets/img/blog/3.jpg' %}" alt="">
						</div>
						<div class="single-blog-hdec">
							<a href="#"><h5>FonixCoin Custody is Officially Open For Business</h5></a>
							<span class="post-date"><i class="icofont icofont-calendar"></i> 19 Dec 2019</span>
							<span class="post-comment"><i class="fa fa-comment"></i> 4 comments</span>
							<p>
								As part of our continued effort to make Kraken the world’s best place to trade crypto.
								<a href="#">[...]</a>
							</p>
							<div class="single-blog-hadmin">
								<div class="single-blog-hadmin-img">
									<img class="img-fluid rounded-circle" src="{% static 'assets/img/team/person1.jpg' %}" alt="">
								</div>
								<div class="single-blog-hadmin-info">
									<p>By: <span>Jane Swaniger</span>for <span>TRADING</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end single blog -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END BLOG SECTION -->

	<!-- START CLIENT SECTION -->
    <div id="client" class="client-section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="client-slider owl-carousel owl-theme">
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/1.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/5.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/3.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/2.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/4.png' %}" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="{% static 'assets/img/clients/6.png' %}" alt=""></a>
                        </div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END CLIENT SECTION -->
	
	<!-- START CALLTOACTION SECTION -->
	<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="calltoaction-two-wrap">
						<h4>{% trans 'Need More Service?' %}</h4>
						<p>{% trans 'If you have questions, comments or concerns, our local staff is on-hand to answer all your needs.' %}<br>{% trans 'Contact us by email' %}</p>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
					<a href="{% url 'contact' %}" class="btn-style btn-border btn-border-3">{% trans 'Contact Us' %}</a>
				</div>
				<!-- end col -->
			</div>
			<!-- end row-->
		</div>
	</section>
    <!-- END CALLTOACTION SECTION -->

{% endblock %}