{% load i18n %}
  <div class="container-fluid">
    <form action="" method="POST">
      {% csrf_token %}
      
      <div class="limiter">
          <h2 class="login-header">{% trans 'Login to Continue' %}</h2>
          <div class="form-group">
            {{ form }}
          </div>    
      <div class="flex-sb-m w-full p-t-3 p-b-32">
          <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                  {% trans 'Remember me' %}
              </label>
          </div>

          <div>
              <a href="{% url 'password_reset' %}" class="txt1">
                  {% trans 'Forgot Password?' %}
              </a>
          </div>
      </div>
      <div class="form-group">
              <input type="submit" name="submit" id="submit" class="form-submit" value="LOGIN"/>
          </div>
        </div>
  </div>
