{% extends "base_layout.html" %}
{% load static %}
{% block title %}{{ block.super }} - Create Account{% endblock title %}

{% block content %}
  <!-- START PAGE BANNER AND BREADCRUMBS -->


	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Registeration</h2>
							<p>Create Your Account</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
    </div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">Registeration</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
      <div class="container-fluid">
			<!-- end section title -->
			<div class="row">
				
        <div class="container-fluid">
					<div class="body-cover">
                    <div class="signup-content">
                        <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                          {% csrf_token %}
                            <h2 class="form-title">Sign Up</h2>
                            <div class="form-group">
                              {{ form.first_name }}
                              {% if form.first_name.errors %}
                              <ul>
                                {% for error in form.first_name.errors %}
                                <li><em>{{ error }}</em> </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="form-group">
                              {{ form.last_name }}
                              {% if form.last_name.errors %}
                              <ul>
                                {% for error in form.last_name.errors %}
                                <li><em>{{ error }}</em> </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="form-group">
                              {{ form.email }}
                              {% if form.email.errors %}
                              <ul>
                                {% for error in form.email.errors %}
                                <li><em>{{ error }}</em> </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="form-group">
                              {{ form.password1 }}
                              {% if form.password1.errors %}
                              <ul>
                                {% for error in form.password1.errors %}
                                <li><em>{{ error }}</em> </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="form-group">
                              {{ form.password2 }}
                              {% if form.password2.errors %}
                              <ul>
                                {% for error in form.password2.errors %}
                                <li><em>{{ error }}</em> </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="form-row">
                              <!-- <div class="form-group col-lg-6">
                                <label for="exampleFormControlFile1">Image Upload</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                              </div> -->
                              <div class="form-group col-lg-6">
                                <label for="inputGender">Upload Profile Picture</label>
                                <div class="form-group">
                                  {{ form.picture }}
                                  {% if form.picture.errors %}
                                  <ul>
                                    {% for error in form.picture.errors %}
                                    <li><em>{{ error }}</em> </li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                            </div>

                              <div class="form-group col-lg-6">
                                  <label for="inputGender">Gender</label>
                                  <div class="form-group">
                                    {{ form.gender }}
                                    {% if form.gender.errors %}
                                    <ul>
                                      {% for error in form.gender.errors %}
                                      <li><em>{{ error }}</em> </li>
                                      {% endfor %}
                                    </ul>
                                    {% endif %}
                                  </div>
                              </div>
                            </div>
                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                            </div>
                        </form>
                        <p class="loginhere">
                            Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                        </p>
					</div>
					</div>
                </div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
{% endblock %}