{% extends "base_layout.html" %}
{% load static %}
{% block title %}{{ block.super }} - Create Account{% endblock title %}

{% block content %}
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Registeration</h2>
							<p>Create Your Account</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">Registeration</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Register your Account</h5>
						<h3>with <span>Bitfonix</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>Registeration Form</h3>
					</div>
				</div>
				<div class="col-lg-7 mx-auto">
					<div class="contact-form-wrapper">
						<div class="contact-form">
							<form class="form" name="enq" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
								<div class="row">
									<div class="form-group col-12 mb-3">
										<label>{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <ul>
                      {% for error in form.first_name.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>

                  <div class="form-group col-12 mb-3">
										<label>{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <ul>
                      {% for error in form.last_name.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>

                  <div class="form-group col-12 mb-3">
										<label>{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <ul>
                      {% for error in form.email.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>

                  <div class="form-group col-12 mb-3">
										<label>{{ form.gender.label }}</label>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                    <ul>
                      {% for error in form.gender.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>

                  <div class="form-group col-12 mb-3">
                    <label>Password</label>
                    <div class="form-controls">
                      {{ form.password1 }}
                    </div>
                    {% if form.password1.errors %}
                    <ul>
                      {% for error in form.password1.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>

                  <div class="form-group col-12 mb-3">
										<label>Confirm Password</label>
                    <div class="form-controls">
                      {{ form.password2 }}
                    </div>
                    {% if form.password2.errors %}
                    <ul>
                      {% for error in form.password2.errors %}
                      <li><em>{{ error }}</em> </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                  
									<div class="form-group col-lg-12 mb-0 text-center">
										<div class="actions">
											<input value="Create Your Account" name="submit" id="submitButton" class="btn btn-contact-bg" title="Create Your Account" type="submit">
											<img src="{% static 'assets/img/ajax-loader.gif' %}" id="loader" style="display:none" alt="loading" width="16" height="16">
										</div>
									</div>
								</div>
							</form>								
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
{% endblock %}