{% extends "base_layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} - Activated{% endblock title %}

{% block content %}
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>{% trans 'Activate Your Account' %}</h2>
							<p>{% trans 'Account successfully activated' %}</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
							<li class="breadcrumb-item active">{% trans 'Activated' %}</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">
			<!-- end section title -->
			<div class="row">
                <div class="col-lg-7 mx-auto">
                    <p>{% trans 'Your Fonixcoin account has been successfully activated' %}</p></br>
                    <p>{% trans 'Please login' %} <a href="{% url 'my-auth:login' %}">{% trans 'HERE' %}</a></p>
                </div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
{% endblock %}